[mysqld]
server-id=1
lower_case_table_names =1
character_set_server=utf8
init_connect='SET NAMES utf8'
max_connections=10000
wait_timeout=31536000
interactive_timeout=31536000
innodb_buffer_pool_size=8G 
innodb_file_per_table=1
innodb_open_files=800
innodb_thread_concurrency = 30
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_io_capacity=2000
innodb_io_capacity_max=6000
innodb_lru_scan_depth=2000
innodb_autoinc_lock_mode = 2
read_buffer_size = 1024M
read_rnd_buffer_size = 1024M
sort_buffer_size = 1024M
join_buffer_size = 1024M
key_buffer_size = 8192M
max_allowed_packet = 16M
query_cache_type=1
query_cache_size = 512M
log-bin = mysql-bin
log-bin-index=master-bin.index
basedir = /data/mysql
datadir = /data/mysql/data
log-error=/tmp/database-node2.err
slow_query_log=on
slow_query_log_file = /tmp/mysql-slow.log
long_query_time = 2
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
